In [112]:
#imports and constants
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics.pairwise import euclidean_distances
import csv

In [2]:
def fvecs_read(filename, c_contiguous=True):
    fv = np.fromfile(filename, dtype=np.float32)
    if fv.size == 0:
        return np.zeros((0, 0))
    dim = fv.view(np.int32)[0]
    assert dim > 0
    fv = fv.reshape(-1, 1 + dim)
    if not all(fv.view(np.int32)[:, 0] == dim):
        raise IOError("Non-uniform vector sizes in " + filename)
    fv = fv[:, 1:]
    if c_contiguous:
        fv = fv.copy()
    return fv

def fvecs_write(data, filename):
    n, d = data.shape
    data_to_file = np.empty((n, d+1), np.float32)
    data_to_file.view(np.int32)[:, 0] = d
    data_to_file[:, 1:] = data
    data_to_file.tofile(filename)

In [129]:
data = fvecs_read("data/audio_base.fvecs") #read in the data
data

array([[54343., 29776., 61789., ..., 48916., 51402., 58398.],
       [61316., 65420., 56087., ..., 64560., 52845., 54574.],
       [40361., 62775., 60291., ..., 46604., 59174., 54336.],
       ...,
       [43378., 31941., 63146., ..., 49708., 56622., 58992.],
       [55945., 66552., 53190., ..., 55152., 58037., 55757.],
       [65975., 64302., 53143., ..., 58365., 57474., 53535.]],
      dtype=float32)

In [4]:
trainData, queryData = train_test_split(data, test_size=0.1) # split the data into training and test

In [126]:
%%time
df = pd.DataFrame({'KNN': []})
neigh = NearestNeighbors(n_neighbors=trainData.shape[0])
neigh.fit(trainData) 
NearestNeighbors(algorithm='auto', leaf_size=30, metric='euclidean')
for index, queryPoint in enumerate(queryData):
    #store the indicies of the KNN's in KNN field. Need to to use tolist for file writing purposes
    df.loc[index] = [neigh.kneighbors([queryPoint])[1][0].tolist()]

CPU times: user 10min 10s, sys: 12.8 s, total: 10min 22s
Wall time: 2min 41s

In [127]:
df

                                                    KNN
0     [12379, 20762, 37127, 29536, 26691, 20450, 321...
1     [36186, 13707, 27977, 7651, 15371, 48023, 4427...
2     [20075, 15298, 46749, 20323, 6327, 43882, 3898...
3     [11085, 13095, 7412, 46427, 42195, 25022, 2122...
4     [24496, 2565, 40489, 30146, 23337, 4842, 26401...
5     [25234, 28879, 23574, 17736, 32681, 22838, 373...
6     [35131, 39046, 18915, 32901, 35380, 18558, 278...
7     [4676, 10314, 7892, 5432, 29156, 7285, 20817, ...
8     [33394, 3860, 24119, 37141, 24443, 10656, 1327...
9     [29769, 6854, 33376, 1879, 21668, 22781, 29428...
10    [39730, 14139, 28507, 12117, 26056, 12185, 455...
11    [41124, 35509, 35425, 28171, 30102, 12646, 115...
12    [26419, 14402, 30847, 23233, 34627, 10279, 237...
13    [13177, 46292, 41119, 39151, 25205, 29598, 471...
14    [17542, 13009, 46738, 26484, 3491, 30302, 9151...
15    [15884, 20016, 26881, 45120, 4787, 42657, 4417...
16    [41696, 45660, 42169, 13846, 29408, 8025, 4152...
17    [21211, 42936, 28532, 10882, 10898, 28439, 405...
18    [44873, 42739, 10536, 25556, 17084, 9927, 6512...
19    [6507, 14789, 42463, 38190, 14380, 14112, 1807...
20    [17089, 22966, 47259, 42375, 4205, 17626, 5473...
21    [29998, 42928, 47230, 25236, 25794, 37914, 248...
22    [38969, 32585, 15642, 12617, 35763, 21705, 664...
23    [42654, 11746, 20, 37231, 24567, 9103, 40650, ...
24    [32647, 30707, 27578, 14095, 26365, 35252, 449...
25    [30540, 18362, 12811, 6350, 17509, 39636, 3293...
26    [246, 45935, 18772, 12494, 20761, 4683, 282, 1...
27    [46390, 19387, 34512, 25408, 6416, 7911, 41033...
28    [40468, 47640, 44645, 16406, 1952, 44876, 6993...
29    [47523, 37974, 24474, 3366, 23292, 44085, 4691...
...                                                 ...
5309  [8001, 4598, 27807, 7458, 30383, 11922, 7776, ...
5310  [20822, 8050, 45877, 17047, 17247, 43793, 4369...
5311  [23637, 47832, 37336, 24131, 23879, 13572, 100...
5312  [43359, 36554, 5694, 33298, 6728, 23306, 45323...
5313  [41455, 12407, 4388, 19725, 15634, 34529, 9687...
5314  [26548, 46671, 22934, 4621, 42006, 45313, 2679...
5315  [20544, 2036, 15162, 17396, 4594, 14197, 23281...
5316  [14732, 40800, 4706, 44810, 1996, 19643, 4614,...
5317  [39684, 29995, 23264, 39316, 32528, 9477, 2756...
5318  [46488, 41142, 44025, 16796, 7674, 42038, 4452...
5319  [34944, 8275, 19575, 38767, 10522, 4859, 4045,...
5320  [13898, 6657, 9844, 42661, 14165, 25942, 3849,...
5321  [24590, 12923, 4418, 34384, 34287, 45011, 2022...
5322  [15010, 7613, 14287, 41977, 26142, 6975, 14106...
5323  [36998, 32001, 28309, 26074, 2035, 21493, 3385...
5324  [481, 24795, 23568, 10698, 3393, 9467, 40294, ...
5325  [37017, 22466, 46898, 2733, 18481, 2846, 45014...
5326  [29812, 21909, 17200, 37903, 24929, 38378, 402...
5327  [40887, 10693, 23792, 19322, 37148, 21308, 531...
5328  [13834, 21909, 29812, 21330, 8081, 692, 17200,...
5329  [43204, 13099, 10925, 15181, 12937, 25400, 102...
5330  [24867, 803, 19219, 28379, 22835, 9058, 18331,...
5331  [32286, 39316, 25521, 37255, 36998, 44369, 254...
5332  [40326, 31941, 5653, 47335, 42685, 13852, 3501...
5333  [19230, 34236, 5450, 5950, 42390, 46416, 16023...
5334  [8173, 41237, 43991, 43745, 2594, 31934, 5995,...
5335  [33721, 3950, 9062, 28203, 7528, 26243, 30617,...
5336  [37074, 29353, 8742, 11799, 12363, 46948, 2885...
5337  [43959, 24490, 32506, 27304, 32054, 21086, 376...
5338  [23214, 23202, 389, 39265, 14251, 11467, 10037...

[5339 rows x 1 columns]

In [123]:
trainData

array([[47076., 78785., 59149., ..., 61660., 53675., 55468.],
       [54428., 45544., 68372., ..., 56565., 59825., 56958.],
       [55879., 86189., 57446., ..., 55092., 57768., 54300.],
       ...,
       [63002., 59673., 55873., ..., 59051., 49862., 55535.],
       [52009., 53559., 62644., ..., 58814., 57613., 52045.],
       [67357., 55986., 60821., ..., 55956., 58749., 59763.]],
      dtype=float32)

In [132]:
#pickle data
np.savetxt('data/trainData.txt', trainData, fmt='%f')
np.savetxt('data/queryData.txt', queryData, fmt='%f')
df.to_pickle("./data/KNN.pkl")

#write the data to files
# df.to_csv('data/KNN.csv', quoting=csv.QUOTE_ALL)