In [3]:
#imports and constants
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split 
from sklearn.neighbors import NearestNeighbors
from sklearn.metrics.pairwise import euclidean_distances
import csv

In [4]:
def fvecs_read(filename, c_contiguous=True):
    fv = np.fromfile(filename, dtype=np.float32)
    if fv.size == 0:
        return np.zeros((0, 0))
    dim = fv.view(np.int32)[0]
    assert dim > 0
    fv = fv.reshape(-1, 1 + dim)
    if not all(fv.view(np.int32)[:, 0] == dim):
        raise IOError("Non-uniform vector sizes in " + filename)
    fv = fv[:, 1:]
    if c_contiguous:
        fv = fv.copy()
    return fv

def fvecs_write(data, filename):
    n, d = data.shape
    data_to_file = np.empty((n, d+1), np.float32)
    data_to_file.view(np.int32)[:, 0] = d
    data_to_file[:, 1:] = data
    data_to_file.tofile(filename)

In [5]:
data = fvecs_read("data/audio_base.fvecs") #read in the data
data = (data - np.mean(data))/np.std(data)

In [6]:
trainData, queryData = train_test_split(data, test_size=0.1) # split the data into training and test

In [7]:
%%time
df = pd.DataFrame({'KNN': []})
neigh = NearestNeighbors(n_neighbors=trainData.shape[0])
neigh.fit(trainData) 
NearestNeighbors(algorithm='auto', leaf_size=30, metric='euclidean')
for index, queryPoint in enumerate(queryData):
    #store the indicies of the KNN's in KNN field. Need to to use tolist for file writing purposes
    df.loc[index] = [neigh.kneighbors([queryPoint])[1][0].tolist()]

CPU times: user 10min 22s, sys: 14.1 s, total: 10min 36s
Wall time: 2min 47s

In [8]:
df

                                                    KNN
0     [33049, 27643, 24297, 45048, 2359, 13760, 1638...
1     [14920, 34724, 3343, 43295, 12475, 43421, 1315...
2     [43457, 30138, 5808, 27450, 25286, 20906, 4134...
3     [33955, 8951, 44909, 12198, 40851, 21598, 3552...
4     [7806, 40623, 3095, 36342, 42460, 15194, 8450,...
5     [13050, 10275, 13129, 5705, 8882, 10586, 19852...
6     [45722, 47129, 35386, 32134, 27026, 41672, 443...
7     [9908, 15682, 42151, 23916, 30482, 38554, 2281...
8     [81, 6288, 10471, 3136, 18513, 27300, 20106, 2...
9     [18577, 47992, 35029, 29951, 40310, 13644, 897...
10    [21367, 21698, 41206, 46514, 39262, 15337, 355...
11    [8296, 21365, 446, 42850, 45245, 29354, 19113,...
12    [27169, 20454, 30828, 42950, 35462, 19016, 417...
13    [31480, 28691, 23093, 45776, 23240, 10840, 368...
14    [28408, 38938, 10707, 12604, 12681, 16079, 476...
15    [16445, 36939, 8941, 18146, 47170, 16610, 1268...
16    [38073, 11054, 29966, 8686, 23009, 29268, 8951...
17    [39490, 14368, 6803, 25692, 29266, 32807, 4823...
18    [34733, 8921, 23070, 47497, 27591, 17194, 844,...
19    [33410, 13270, 43657, 7957, 43035, 11062, 4518...
20    [27986, 40957, 1197, 23777, 47808, 12162, 3420...
21    [19470, 28472, 46508, 31292, 35202, 46448, 404...
22    [27940, 3386, 2974, 20142, 43436, 41127, 17455...
23    [1657, 35478, 39712, 24229, 6742, 41042, 25882...
24    [5294, 31584, 43107, 36854, 38308, 13666, 894,...
25    [2487, 4983, 25251, 8492, 25413, 46429, 8156, ...
26    [4980, 17572, 12518, 39256, 21860, 34892, 2684...
27    [41258, 19981, 22544, 3104, 41940, 7738, 4613,...
28    [38580, 6533, 44205, 15189, 32019, 17086, 3276...
29    [2102, 39789, 6932, 45048, 28249, 45778, 24297...
...                                                 ...
5309  [39865, 38724, 18627, 35011, 15666, 37594, 209...
5310  [38835, 21486, 15947, 26595, 14928, 39121, 104...
5311  [42774, 43898, 34512, 8682, 24436, 10941, 2698...
5312  [25506, 13050, 239, 38220, 6648, 22075, 35976,...
5313  [46718, 34950, 39051, 10185, 5605, 35149, 3284...
5314  [347, 4612, 19088, 34877, 24855, 27399, 35406,...
5315  [43484, 24672, 5746, 22562, 22370, 38715, 2208...
5316  [17505, 41228, 37673, 30714, 8131, 42392, 3902...
5317  [15466, 20896, 15887, 41387, 47064, 23271, 143...
5318  [26162, 20302, 21478, 34025, 4150, 2127, 42506...
5319  [39992, 2443, 48040, 10338, 8192, 2496, 8134, ...
5320  [28786, 41836, 13360, 37012, 10159, 29765, 133...
5321  [24489, 25514, 44471, 8717, 3357, 1081, 43255,...
5322  [22541, 21188, 27300, 7249, 25508, 15589, 3374...
5323  [1373, 35580, 1211, 14343, 43409, 36929, 9205,...
5324  [2642, 23017, 30948, 25127, 27138, 7743, 15644...
5325  [41984, 17919, 10590, 22461, 31681, 38176, 130...
5326  [6906, 39396, 20427, 32634, 1602, 26313, 40132...
5327  [13353, 42962, 29891, 26538, 6884, 32575, 2116...
5328  [38702, 17997, 25236, 40299, 31571, 23128, 303...
5329  [45233, 13429, 28994, 15647, 23597, 40625, 111...
5330  [36272, 36309, 16529, 12122, 37928, 26294, 126...
5331  [22374, 39554, 35255, 22185, 14883, 15105, 429...
5332  [1622, 13160, 34505, 14473, 31715, 28912, 1346...
5333  [16227, 12606, 15875, 40146, 36042, 40109, 715...
5334  [4718, 1395, 35983, 11593, 36961, 44707, 35384...
5335  [17463, 44725, 19598, 10570, 28899, 11049, 427...
5336  [10490, 17309, 7809, 19529, 23164, 37077, 4346...
5337  [46366, 37423, 45761, 11675, 47003, 28324, 162...
5338  [12661, 35140, 20412, 5630, 23500, 15326, 2707...

[5339 rows x 1 columns]

In [9]:
#pickle data
np.savetxt('data/trainData.txt', trainData, fmt='%f')
np.savetxt('data/queryData.txt', queryData, fmt='%f')
df.to_pickle("./data/KNN.pkl")

#write the data to files
# df.to_csv('data/KNN.csv', quoting=csv.QUOTE_ALL)